@import './base.css';

#app {
  max-width: 1280px;
  font-weight: normal;
  color: gray;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-secondary);
    border-radius: 8px;
  }

}

@media (min-width: 1024px) {
  body {
    
  }

  #app {
    
  }
}
